.container
{
    width: 200px;
    height: 200px;
    margin: 0 auto; /* To Make It Center */
    border: 2px solid black;
    background-color: gainsboro;
}
.wrapper
{
    width: 100%;
    height: 100%;
    transform-origin: bottom right;
    background-color: antiquewhite;
    border: 2px solid white;
    /* <property> <duration> <timing-function> <delay>*/
    transition: transform 500ms;
}
.container:hover .wrapper
{
    transform: rotate(60deg);
}